ServiceInteractions/riv/druglogistics/dosedispensing/trunk/HamtaMeddelanden/Virtualisering/src/main/resources/tp2-service-mule-descriptor.xml
<!--
 * Copyright 2009-2012 Sjukvardsradgivningen * * This library is free software; 
	you can redistribute it and/or modify * it under the terms of version 2.1 
	of the GNU Lesser General Public * License as published by the Free Software 
	Foundation. * * This library is distributed in the hope that it will be useful, 
	* but WITHOUT ANY WARRANTY; without even the implied warranty of * MERCHANTABILITY 
	or FITNESS FOR A PARTICULAR PURPOSE. See the * GNU Lesser General Public 
	License for more details. * * You should have received a copy of the GNU 
	Lesser General Public * License along with this library; if not, write to 
	the * Free Software Foundation, Inc., 59 Temple Place, Suite 330, * Boston, 
	MA 02111-1307 USA
-->
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
    xmlns:https="http://www.mulesoft.org/schema/mule/https"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:test="http://www.mulesoft.org/schema/mule/test"
    xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/cxf  http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
               http://www.springframework.org/schema/beans    http://www.springframework.org/schema/beans/spring-beans-current.xsd
               http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd" >

    <!-- Name of this file is mandatory and may not be changed. -->


	<flow name="druglogistics-dosedispensing-HamtaMeddelandenInteraction-virtualisering-flow" >
		
		<composite-source>
      	  	<https:inbound-endpoint
        	    address="https://${TP_HOST}:${TP_PORT}/${TP_BASE_URI}/HamtaMeddelanden/1/rivtabp20"
           		connector-ref="VPProducerConnector"
            	exchange-pattern="request-response" 
            	responseTransformer-refs="featureKeepAliveResponse filterResponseHeaders">
            	<properties>
        			<spring:entry key="featureUseKeepAlive" value="${feature.keepalive.urn.riv.druglogistics.dosedispensing.HamtaMeddelandenResponder.1:${feature.keepalive}}"/>
        		</properties>
        	</https:inbound-endpoint>
        	<http:inbound-endpoint
        	    address="http://${TP_HOST}:${TP_PORT_HTTP}/${TP_BASE_URI}/HamtaMeddelanden/1/rivtabp20"
            	exchange-pattern="request-response" 
            	responseTransformer-refs="filterResponseHeaders">
        	</http:inbound-endpoint>
         </composite-source>

         <cxf:proxy-service
            	namespace="urn:riv:druglogistics:dosedispensing:HamtaMeddelanden:1:rivtabp20"
            	payload="envelope"
            	service="HamtaMeddelandenResponderService"
            	wsdlLocation="classpath:/schemas/interactions/HamtaMeddelandenInteraction/HamtaMeddelandenInteraction_1.0_RIVTABP20.wsdl" />
            	
           
<!--          <transformer ref="objToStr"></transformer> -->
		 <flow-ref name="hamtameddelanden-vagval-dynamic-routing-flow" />
         

       
    </flow>
    
     <flow name="hamtameddelanden-vagval-dynamic-routing-flow" >

	    <logger message="Logpunkt0: - TEST #[groovy:payload] " level="INFO"/>

        <transformer ref="createCorrId" />
        <transformer ref="XmlToXSR" />
        <transformer ref="rivExtractor" />
  		<transformer ref="logReqIn" />
        <transformer ref="rivTransformer" />
        
         	<logger message="Logpunkt2: - BEFORE VagvalRouter: #[groovy:payload]" level="WARN"/>
         	
        	<cxf:proxy-client payload="envelope" />
         	<custom-processor class="se.skl.tp.vp.vagvalrouter.VagvalRouter" >
	
	            <spring:property
	                name="vagvalAgent"
	                ref="vagvalAgent" />
	
	            <spring:property
	                name="senderIdPropertyName"
	                value="${VAGVALROUTER_SENDERID}" />
	
	            <spring:property
	                name="responseTimeout"
	                value="${SERVICE_TIMEOUT_MS}" />
	
	            <spring:property
	                name="whiteList"
	                value="${IP_WHITE_LIST}" />
	        </custom-processor> 
        
        
        	<logger message="Logpunkt3: - AFTER Vagvalrouter #[groovy:payload]" level="WARN"/>
        	
        <response>
            <transformer ref="exceptionTransformer" />
            <object-to-string-transformer /> 
            <transformer ref="logRespOut" />
        </response>
        
         <custom-exception-strategy class="se.skl.tp.vp.util.VPExceptionStrategy" >
 			<spring:property name="jaxbObjectToXml"  ref="objToXml"/> 
         </custom-exception-strategy> 
        
    </flow>

</mule>
