Components/Supervisor/trunk/supervisor/src/main/app/pingMonitor-service.xml
<?xml version="1.0" encoding="utf-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:spring="http://www.springframework.org/schema/beans" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:jdbc="http://www.mulesoft.org/schema/mule/jdbc" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
  xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:https="http://www.mulesoft.org/schema/mule/https"
  xmlns:vm="http://www.mulesoft.org/schema/mule/vm"

  xsi:schemaLocation="
		http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.mulesoft.org/schema/mule/core      http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.mulesoft.org/schema/mule/vm        http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd
		http://www.mulesoft.org/schema/mule/jdbc      http://www.mulesoft.org/schema/mule/jdbc/3.2/mule-jdbc.xsd
		http://www.mulesoft.org/schema/mule/jms       http://www.mulesoft.org/schema/mule/jms/3.2/mule-jms.xsd
		http://www.mulesoft.org/schema/mule/cxf       http://www.mulesoft.org/schema/mule/cxf/3.2/mule-cxf.xsd
		http://www.mulesoft.org/schema/mule/http      http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd
        http://www.mulesoft.org/schema/mule/https     http://www.mulesoft.org/schema/mule/https/3.2/mule-https.xsd
    ">
  <!-- TODO: Add service specific definitions here -->

  <flow name="pingMonitor-service">

    <vm:inbound-endpoint exchange-pattern="request-response" path="${ACTIVELOGTRIGGER_OUT_VM_QUEUE}" transformer-refs="createCorrId logReqIn" responseTransformer-refs="logRespIn"/>

    <custom-transformer class="se.skl.skltpservices.monitor.transformers.PingForConfigurationTypeTransformer" />

    <cxf:jaxws-client
      clientClass="se.skl.riv.itintegration.monitoring.pingforconfiguration.v1.rivtabpip21.PingForConfigurationResponderService"
      port="PingForConfigurationResponderPort"
      wsdlLocation="classpath:schemas/interactions/PingForConfigurationInteraction/PingForConfigurationInteraction_1.0_RIVTABP21.wsdl"
      operation="PingForConfiguration" />

    <!-- Due to a bug http://www.mulesoft.org/jira/browse/MULE-5379 we can't use host, port, path attribute. Change when 
      bug is fixed in Mule 3.3 -->
    <https:outbound-endpoint address="https://#[header:SESSION:host]:#[header:SESSION:port]#[header:SESSION:path]"
      exchange-pattern="request-response" responseTimeout="${SERVICE_TIMEOUT_MS}" transformer-refs="logReqOut"
      responseTransformer-refs="exceptionTransformer logRespOut" connector-ref="soitoolkit-https-connector">
    </https:outbound-endpoint>

    <custom-exception-strategy class="org.soitoolkit.commons.mule.error.ServiceExceptionStrategy" />

  </flow>

</mule>
